<footer class="footer-styled">
    <div class="container">
        <div class="content row">
            <h1 class="logo col-lg-3">Digitales</h1>
            <div class="links col-sm-4 col-md-4 col-lg-3">
                <h3>Contacto</h3>
                <ul>
                    <li>Cusco, Perú.</li>
                    <li>+51 934 202 670</li>
                    <li>sac.digitales@gmail.com</li>
                </ul>
            </div>

            <div class="links col-sm-4 col-md-4 col-lg-3">
                <h3>Servicios</h3>
                <ul>
                    <li>Desarrollo web</li>
                    <li>Diseño web</li>
                    <li>Posicionamiento SEO</li>
                    <li>Diseño gráfico</li>
                </ul>
            </div>

            <div class="links col-sm-4 col-md-4 col-lg-3">
                <h3>Menú</h3>
                <ul>
                    <li><a href="#home">Inicio</a></li>
                    <li><a href="#about">Nosotros</a></li>
                    <li><a href="#services">Servicios</a></li>
                    <li><a href="#portfolio">Portafolio</a></li>
                </ul>
            </div>
        </div>
        <span class="line"></span>
        <br>
        <br>
        <p>Digitales &#169; 2023. Todos los derechos reservados.</p>
    </div>
</footer>